body{
/*	border: double 5px;*/
	margin: 2%;
	padding: 2%;
}
h1{
	text-align: center;
	font-size:150%;
	text-transform: uppercase;
	color: #FFFFFF;
}
header{
	background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
	padding: 2%;
	background-repeat: no-repeat;
	background-size: 100%;
}
nav a{
	display: inline-block;
	background-color: rgba(218,234,213,0.60);
	border: solid 2px;
	width: 22%;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius:5px;
	border-radius: 5px;

	color: #000000;
	text-align: center;
	text-decoration: none;
	margin-right: 1%;
	height: 33%;
}
.active{
	background-color: #FFFFFF;
}
a:hover{
	background-color: #FFFFFF;
}
.left{
	width: 22%;
	/*border: dashed 5px;*/
	background: #808000;
	float: left;
}
.left img{
	width: 80%;
	height: 50%;
	margin: 5%;
	margin-left: 8%;
	background-color: 
}
.right{
	display: inline-block;
	width: 65%;
	margin: 0.5%;
	/*padding: 2%;*/
}
h2{
	text-align: center;
	font-variant: small-caps;
}
table{
	border-color: rgba(0,0,0,1);
	border-spacing: 0.1px;
	
}
td{
	padding-right: 5%;
}